<!--
  Generated template for the AlertsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Alerts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="alerts-page" padding>
  <!-- TACTICAL ALERTS -->
  <!--<div class="section-header">
      <h5>Events</h5>
    </div>
  
    <div class="section-content">
      <div class="section-item">
        <ion-grid>
          <ion-row>
            <ion-col width-33>
              <img class="card-img" src="../assets/img/tactical.jpg" />
            </ion-col>
            <ion-col class="card-details" width-66>
              <div class="card-line">
                <strong>Mission 1 (Ceres)</strong>
                <span class="mission-lvl">Level 20-25</span>
              </div>
              <div class="card-line">
                <strong>Mission: INTERCEPTION</strong>
              </div>
              <div class="card-line">
                <strong>Reward:</strong>
              </div>
              <ion-grid>
                <ion-row>
                  <ion-col width-20>
                    <img src="../assets/img/Endo.png" />
                  </ion-col>
                  <ion-col class="reward-list" width-80>
                    <span class="inline-item">
                      <img src="../assets/img/Credits.png" class="img-inline" />
                    </span>
                    <span class="inline-item">50,000</span>
                    <span class="inline-item"> + </span>
                    <span class="inline-item">
                      <img src="../assets/img/Endo.png" class="img-inline" />
                    </span>
                    <span class="inline-item">800</span>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>-->

  <div class="page-container">
    <!-- ALERTS -->
    <div class="section-header">
      <h5>ALERTS</h5>
    </div>

    <div class="section-container">
      <div class="section-content">
        <div class="section-item" *ngFor="let alert of (warframeData | async)?.alerts">
          <ion-grid>
            <ion-row>
              <ion-col col-4 class="blueprint-bg">
                <img class="card-img credits-img no-border" src="{{getImageUrl(alert)}}" />
              </ion-col>
              <ion-col class="card-details" col-8>
                <div class="card-line">
                  <strong>
                    {{alert.mission.node}}
                  </strong>
                  <span class="mission-lvl">
                    Level {{alert.mission.minEnemyLevel}}-{{alert.mission.maxEnemyLevel}}</span>
                </div>
                <div class="card-line mission-type-faction">
                  <strong>
                    <span>{{alert.mission.type}}</span> -
                    <span>{{alert.mission.faction}}</span>
                  </strong>
                </div>
                <div class="card-line">
                  <strong>Reward:</strong>
                </div>
                <ion-grid>
                  <ion-row>
                    <ion-col class="reward-list">
                      <span class="inline-item">
                        <img src="../assets/img/Credits.png" class="img-inline" />
                        {{alert.mission.reward.credits}}
                        <span *ngIf="alert.rewardTypes.length > 0">
                          + {{alert.mission.reward.itemString}}
                        </span>
                      </span>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
            <ion-row class="card-footer">
              <ion-col>
                <alert-timer eta="{{alert.eta}}"></alert-timer>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
  </div>


  <!-- SYNDICATE -->
  <!--<div class="section-header">
      <h5>SYNDICATE</h5>
    </div>
  
    <div class="section-container">
      <div class="section-content">
        <div class="section-item">
          <ion-grid>
            <ion-row>
              <ion-col width-33>
                <img class="syndicate-flag" src="../assets/img/new_loka.png" />
              </ion-col>
              <ion-col class="card-details" width-66>
                <div class="card-line">
                  <strong>Metis (Jupiter)</strong>
                  <span class="mission-lvl">Level 20-25</span>
                </div>
                <div class="card-line">
                  <strong>SURVIVAL MISSION</strong>
                </div>
                <div class="card-line">
                  <strong>Reward:
                    <span>3,570</span>
                  </strong>
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="card-footer">
              <ion-col>
  
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>-->

  <!-- VOID FISSURES -->
  <!--<div class="section-header">
      <h5>VOID FISSURES</h5>
    </div>
  
    <div class="section-container">
      <div class="section-content">
        <div class="section-item">
          <ion-grid>
            <ion-row>
              <ion-col width-33>
                <img class="card-img relic no-border" src="../assets/img/relics/lith.png" />
              </ion-col>
              <ion-col class="card-details" width-66>
                <div class="card-line">
                  <strong>Mantle (Earth)</strong>
                  <span class="mission-lvl">Level 7-9</span>
                </div>
                <div class="card-line">
                  <strong>CAPTURE - GRINEER</strong>
                </div>
                <div class="card-line">
                  <span>LITH FISSURE</span>
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="card-footer">
              <ion-col>
                <span class="time-count">0h 11m 36s</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>-->

  <!-- SORTIES -->
  <!--<div class="section-header">
      <h5>SORTIES</h5>
    </div>
  
    <div class="section-container">
      <div class="section-content">
        <div class="section-item">
          <ion-grid>
            <ion-row>
              <ion-col width-33>
                <img src="" />
              </ion-col>
              <ion-col class="card-details" width-66>
                <div class="card-line">
                  <strong>Odin (Mercury)</strong>
                  <span class="mission-lvl">Level 7-9</span>
                </div>
                <div class="card-line">
                  <strong>Mission: MOBILE DEFENSE</strong>
                </div>
                <div class="card-line">
                  <strong>Conditions:
                    <span>Eximus Stronghold</span>
                  </strong>
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="card-footer">
              <ion-col>
  
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>-->
</ion-content>